<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>pub/sub with Socket.IO-redis</title>
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
